.button {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.button--color--white {
  background: #fff;
  color: #F5170E;
  border: 1px solid #F5170E;
}

.button--color--white:hover {
  background: #F5170E;
  color: #fff;
  transition: .5s;
}

.button--color--white {
  box-sizing: border-box;
  padding: 17px 29px;
  transition: .5s;
}

.button__story:hover {
  background-color: #DA0100;
  transition: .5s;
}

.button--service {
  padding: 17px 38px;
  background-color: #F2F2F2;
}

.button--color--grey {
  background: #8E8E8E;
  padding: 19px 45px;
}

.button--color--grey:hover {
  background: #2B2B2B;
  transition: .5s;
}

.button--color--red {
  padding: 18px 40px;
}

.form__button:not(:first-child) {
  margin-left: 17px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
}


.form__button:last-child {
  margin-right: 0;
}

.button--color--welcome {
  padding: 18px 58px;
}
